/eve-api-proxy.opensdf
/eve-api-proxy.sdf
/.vs
/third-party/boost
/third-party/zlib
/eve-api-proxy/~AutoRecover.eve-api-proxy.vcxproj
/libeve-api-proxy/~AutoRecover.libeve-api-proxy.vcxproj
/testeve-api-proxy/~AutoRecover.testeve-api-proxy.vcxproj
/Intermediate
/x64
/Win32
/eve-api-proxy.VC.opendb
/ipch
/third-party/rapidjson
/bin
/obj
/testeve-api-proxy/testeve-api-proxy.vcxproj.user
/eve-api-proxy.VC.VC.opendb
/eve-api-proxy.VC.db
/kernel.etl
/profile.bat
/profile.etl
